label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + div{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + div{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid red;
}
div {text-align: center}
